@import '../libs/common.scss';

.box {
  height: 100%;
  @include flex(horizontal, center, stretch);
}

.left {
  position: relative;
  width: 73%;
  height: 100%;
  overflow: hidden;
}

.inside {
  position: absolute;
  width: 201px;
  height: 125px;
  background: url(./images/inside.png) no-repeat;
  background-size: 201px 125px;
  animation: inside 3s infinite;

  @media screen and (min-width: 1680px) {
    width: 280px;
    height: 175px;
    background-size: 280px 175px;
  }
}

@keyframes inside {
  0% {
    top: 80%;
    left: 55%;
    opacity: 0;
    transform: rotate(0deg);
  }
  8% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  30% {
    top: 80%;
    left: 58%;
    opacity: 0;
    transform: rotate(0deg);
  }
  33% {
    top: 65%;
    left: 70%;
    opacity: 0;
    transform: rotate(-120deg);
  }
  41% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  63% {
    top: 62%;
    left: 67%;
    opacity: 0;
    transform: rotate(-120deg);
  }
  66% {
    top: 62%;
    left: 50%;
    opacity: 0;
    transform: rotate(120deg);
  }
  74% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  96% {
    top: 65%;
    left: 47%;
    opacity: 0;
    transform: rotate(120deg);
  }
  100% {
    opacity: 0;
  }
}

.outside {
  position: absolute;
  width: 120px;
  height: 142px;
  background: url(./images/outside.png) no-repeat;
  background-size: 120px 142px;
  animation: outside 3s infinite;

  @media screen and (min-width: 1680px) {
    width: 180px;
    height: 213px;
    background-size: 180px 213px;
  }
}

@keyframes outside {
  0% {
    top: 3%;
    left: 74%;
    opacity: 0;
    transform: rotate(0deg);
  }
  8% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  30% {
    top: 7%;
    left: 72%;
    opacity: 0;
    transform: rotate(0deg);
  }
  33% {
    top: 55%;
    left: 60%;
    opacity: 0;
    transform: rotate(15deg);
  }
  41% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  63% {
    top: 59%;
    left: 57%;
    opacity: 0;
    transform: rotate(15deg);
  }
  66% {
    top: 73%;
    left: 48%;
    opacity: 0;
    transform: rotate(35deg);
  }
  74% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  96% {
    top: 76%;
    left: 45%;
    opacity: 0;
    transform: rotate(35deg);
  }
  100% {
    opacity: 0;
  }
}

.canvas {
  width: 100%;
  height: 100%;
}

.right {
  width: 27%;
  height: 100%;
  @include gradient(#162538, #293855);
}

.dashboard {
  position: relative;
  width: 300px;
  height: 225px;
  margin: 30% auto 0;

  @media screen and (min-width: 1680px) {
    transform: scale(1.4);
  }
}

.db-thermometer {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 266px;
  background: url(./images/thermometer.png) no-repeat;
  background-size: 300px 266px;
}

.db-num {
  position: absolute;
  display: inline-block;
  color: #aaa;
  font-size: 14px;

  &.highlight {
    color: #fff;
    text-shadow: 0 0 5px #fff;
  }

  &:nth-of-type(1) {
    top: 208px;
    left: 25px;
    transform: rotate(-120deg);
  }

  &:nth-of-type(2) {
    top: 174px;
    left: 10px;
    transform: rotate(-105deg);
  }

  &:nth-of-type(3) {
    top: 142px;
    left: 6px;
    transform: rotate(-90deg);
  }

  &:nth-of-type(4) {
    top: 110px;
    left: 10px;
    transform: rotate(-75deg);
  }

  &:nth-of-type(5) {
    top: 75px;
    left: 25px;
    transform: rotate(-60deg);
  }

  &:nth-of-type(6) {
    top: 47px;
    left: 43px;
    transform: rotate(-45deg);
  }

  &:nth-of-type(7) {
    top: 27px;
    left: 68px;
    transform: rotate(-30deg);
  }

  &:nth-of-type(8) {
    top: 11px;
    left: 102px;
    transform: rotate(-15deg);
  }

  &:nth-of-type(9) {
    top: 5px;
    left: 139px;
  }

  &:nth-of-type(10) {
    top: 11px;
    left: 180px;
    transform: rotate(15deg);
  }

  &:nth-of-type(11) {
    top: 27px;
    left: 212px;
    transform: rotate(30deg);
  }

  &:nth-of-type(12) {
    top: 47px;
    left: 239px;
    transform: rotate(45deg);
  }

  &:nth-of-type(13) {
    top: 75px;
    left: 259px;
    transform: rotate(60deg);
  }

  &:nth-of-type(14) {
    top: 110px;
    left: 272px;
    transform: rotate(75deg);
  }

  &:nth-of-type(15) {
    top: 142px;
    left: 276px;
    transform: rotate(90deg);
  }

  &:nth-of-type(16) {
    top: 174px;
    left: 272px;
    transform: rotate(105deg);
  }

  &:nth-of-type(17) {
    top: 206px;
    left: 259px;
    transform: rotate(120deg);
  }
}

.db-arrow {
  position: absolute;
  z-index: 10;
  top: 22px;
  left: 141px;
  width: 19px;
  height: 133px;
  background: url(./images/arrow.png) no-repeat;
  background-size: 19px 133px;
  transform-origin: 50% 95%;
  transition: all linear 0.3s;
}

.db-temp {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
  font-size: 16px;
}

.info-list {
  width: 198px;
  margin: 100px auto 0;

  @media screen and (min-width: 1680px) {
    width: 315px;
  }
}

.info {
  color: #eee;
  font-size: 20px;
  margin-top: 34px;

  @media screen and (min-width: 1680px) {
    font-size: 32px;
    margin-top: 58px;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;

    @media screen and (min-width: 1680px) {
      width: 42px;
      height: 42px;
      margin-right: 16px;
    }
  }

  &:nth-of-type(1):before {
    background: url(./images/temp.png) no-repeat;
    background-size: 30px 30px;

    @media screen and (min-width: 1680px) {
      background-size: 42px 42px;
    }
  }

  &:nth-of-type(2):before {
    background: url(./images/sum.png) no-repeat;
    background-size: 30px 30px;

    @media screen and (min-width: 1680px) {
      background-size: 42px 42px;
    }
  }

  &:nth-of-type(3):before {
    background: url(./images/dir.png) no-repeat;
    background-size: 30px 30px;

    @media screen and (min-width: 1680px) {
      background-size: 42px 42px;
    }
  }
}
