@import '../libs/common.scss';

.page3 {
  .container {
    position: relative;
    height: 100%;
    background: url(./images/bg.png) no-repeat center;
    background-size: 100% 100%;
  }

  .top-list {
    position: absolute;
    top: 6%;
    width: 100%;
    @include flex(horizontal, center, center);
  }

  .top-item {
    width: 14.6%;
    padding-bottom: 7.6%;

    &.blank {
      background: url(./images/blank.png) no-repeat center;
      background-size: 38%;
    }

    &.slash {
      background: url(./images/slash.png) no-repeat center;
      background-size: 38%;
    }

    &.A {
      background: url(./images/A.png) no-repeat center;
      background-size: 38%;
    }

    &.inside {
      background: url(./images/inside.png) no-repeat center;
      background-size: 54%;
    }

    &.outside {
      background: url(./images/outside.png) no-repeat center;
      background-size: 54%;
    }

    &.auto {
      background: url(./images/auto.png) no-repeat center;
      background-size: 40%;

      &.on {
        background-image: url(./images/auto_on.png);
      }
    }

    &.ion {
      background: url(./images/ion.png) no-repeat center;
      background-size: 40%;

      &.on {
        background-image: url(./images/ion_on.png);
      }
    }
  }

  .split {
    width: 0.5%;
    padding-bottom: 7.6%;
    background: url(./images/split.png) no-repeat center;
    background-size: contain;
  }

  .left-temp,
  .right-temp {
    position: absolute;
    top: 50%;
    width: 20%;
    padding-bottom: 16.8%;
    background: url(./images/temp_bg.png) no-repeat center;
    background-size: contain;
    transform: translateY(-50%);
  }

  .left-temp {
    left: 0;

    .up-arrow,
    .down-arrow {
      right: 40%;
    }

    .temp {
      left: 54%;
    }
  }

  .right-temp {
    right: 0;

    .up-arrow,
    .down-arrow {
      left: 40%;
    }

    .temp {
      left: 46%;
    }
  }

  .up-arrow,
  .down-arrow {
    position: absolute;
    width: 12.5%;
    padding-bottom: 7%;
  }

  .up-arrow {
    top: -11%;
    background: url(./images/up-arrow.png) no-repeat center;
    background-size: contain;
  }

  .down-arrow {
    bottom: -11%;
    background: url(./images/down-arrow.png) no-repeat center;
    background-size: contain;
  }

  .temp {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 100px;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1680px) {
      font-size: 160px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 8%;
      right: -8%;
      display: inline-block;
      width: 15%;
      padding-bottom: 15%;
      background: url(./images/c.png) no-repeat center;
      background-size: contain;
    }
  }

  .wind {
    position: absolute;
    top: 29%;
    width: 100%;
    @include flex(horizontal, center, end);
  }

  .minus,
  .plus {
    width: 2.3%;
    padding-bottom: 2.3%;
  }

  .minus {
    margin-right: 2%;
    background: url(./images/-.png) no-repeat center;
    background-size: contain;
  }

  .plus {
    margin-left: 2%;
    background: url(./images/+.png) no-repeat center;
    background-size: contain;
  }

  .sum-bg {
    position: relative;
    width: 45%;
    padding-bottom: 11.4%;
    background: url(./images/sum_bg.png) no-repeat center;
    background-size: contain;
  }

  .sum {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url(./images/sum.png) no-repeat 0 0;
    background-size: cover;
  }

  .down-list {
    position: absolute;
    top: 66%;
    width: 100%;
    @include flex(horizontal, center, center);
  }

  .down-item {
    margin: 0 4%;

    &:nth-of-type(1) {
      width: 4.3%;
      padding-bottom: 5.3%;
      background: url(./images/dir1.png) no-repeat center;
      background-size: contain;

      &.on {
        background-image: url(./images/dir1_on.png);
      }
    }

    &:nth-of-type(2) {
      width: 4.9%;
      padding-bottom: 5.3%;
      background: url(./images/dir2.png) no-repeat center;
      background-size: contain;

      &.on {
        background-image: url(./images/dir2_on.png);
      }
    }

    &:nth-of-type(3) {
      width: 4.9%;
      padding-bottom: 5.3%;
      background: url(./images/dir3.png) no-repeat center;
      background-size: contain;

      &.on {
        background-image: url(./images/dir3_on.png);
      }
    }

    &:nth-of-type(4) {
      width: 4.9%;
      padding-bottom: 5.5%;
      background: url(./images/dir4.png) no-repeat center;
      background-size: contain;

      &.on {
        background-image: url(./images/dir4_on.png);
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 8%;
    background: url(./images/footer.png) no-repeat center;
    background-size: contain;
  }

  .sync {
    position: absolute;
    bottom: 0;
    left: 51%;
    width: 37%;
    padding-bottom: 8%;
    transform: translateX(-50%);
    background-color: transparent;
  }
}
