@import '../libs/common.scss';

.page3 {
  .container {
    position: relative;
    height: 100%;
    background: url(./images/bg.png) no-repeat center;
    background-size: 100% 100%;
  }

  .top-list {
    position: absolute;
    top: 6%;
    width: 100%;
    @include flex(horizontal, center, center);
  }

  .top-item {
    width: 14.6%;
    padding-bottom: 7.6%;

    &.blank {
      background: url(./images/blank.png) no-repeat center;
      background-size: 38%;
    }

    &.slash {
      background: url(./images/slash.png) no-repeat center;
      background-size: 38%;
    }

    &.A {
      background: url(./images/A.png) no-repeat center;
      background-size: 38%;
    }

    &.inside {
      background: url(./images/inside.png) no-repeat center;
      background-size: 54%;
    }

    &.outside {
      background: url(./images/outside.png) no-repeat center;
      background-size: 54%;
    }

    &.auto {
      background: url(./images/auto.png) no-repeat center;
      background-size: 40%;
    }

    &.ion {
      background: url(./images/ion.png) no-repeat center;
      background-size: 40%;
    }
  }

  .split {
    width: 0.5%;
    padding-bottom: 7.6%;
    background: url(./images/split.png) no-repeat center;
    background-size: contain;
  }

  .left-temp,
  .right-temp {
    position: absolute;
    top: 50%;
    width: 20%;
    padding-bottom: 16.8%;
    background: url(./images/temp_bg.png) no-repeat center;
    background-size: contain;
    transform: translateY(-50%);
  }

  .left-temp {
    left: 0;

    .up-arrow,
    .down-arrow {
      right: 40%;
    }

    .temp {
      left: 54%;
    }
  }

  .right-temp {
    right: 0;

    .up-arrow,
    .down-arrow {
      left: 40%;
    }

    .temp {
      left: 46%;
    }
  }

  .up-arrow,
  .down-arrow {
    position: absolute;
    width: 12.5%;
    padding-bottom: 7%;
  }

  .up-arrow {
    top: -11%;
    background: url(./images/up-arrow.png) no-repeat center;
    background-size: contain;
  }

  .down-arrow {
    bottom: -11%;
    background: url(./images/down-arrow.png) no-repeat center;
    background-size: contain;
  }

  .temp {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 100px;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1680px) {
      font-size: 160px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 8%;
      right: -8%;
      display: inline-block;
      width: 15%;
      padding-bottom: 15%;
      background: url(./images/c.png) no-repeat center;
      background-size: contain;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 8%;
    background: url(./images/footer.png) no-repeat center;
    background-size: contain;
  }

  .sync {
    position: absolute;
    bottom: 0;
    left: 51%;
    width: 37%;
    padding-bottom: 8%;
    transform: translateX(-50%);
    background-color: transparent;
  }
}
