@import '../libs/common.scss';

.page2 {
  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 56.25%;
    background: url(./images/bg.jpg) no-repeat center;
    background-size: contain;
  }

  .blue,
  .red {
    position: absolute;
    width: 14%;
    height: 7%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    border-radius: 5px;

    @media screen and (min-width: 1680px) {
      font-size: 60px;
    }

    .num {
      display: block;
      height: 100%;
      line-height: 113%;
    }

    .line {
      position: absolute;
    }
  }

  .blue {
    top: 22%;
    right: 20%;
    background-color: #2f75fb;
    border: 5px solid #4876cb;

    .line {
      position: absolute;
      top: 70%;
      left: -50%;
      width: 40%;
      height: 5px;
      background-color: #4876cb;
      transform: rotate(-45deg);

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 90%;
        left: 96%;
        width: 20%;
        height: 5px;
        background-color: #4876cb;
        transform: rotate(45deg);
      }
    }
  }

  .red {
    bottom: 3%;
    left: 37%;
    background-color: #e4574e;
    border: 5px solid #992f31;

    .line {
      position: absolute;
      top: -130%;
      left: -30%;
      width: 130%;
      height: 5px;
      background-color: #992f31;
      transform: rotate(-30deg);

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 10%;
        height: 5px;
        background-color: #992f31;
        transform: rotate(30deg);
      }
    }
  }

  .door {
    position: absolute;
    height: 8px;
    background-color: #992f31;
    transition: all linear 0.5s;

    &:nth-of-type(1) {
      top: 39.8%;
      left: 34%;
      width: 6%;
      transform-origin: 0 50%;
      transform: rotate(0deg);
    }

    &:nth-of-type(2) {
      top: 25.5%;
      left: 41.5%;
      width: 7%;
      // transform-origin: 0 50%;
      transform: rotate(0deg);
    }

    &:nth-of-type(3) {
      top: 32%;
      left: 48.9%;
      width: 4.5%;
      transform-origin: 100% 50%;
      transform: rotate(40deg);
    }

    &:nth-of-type(4) {
      top: 45.2%;
      left: 46%;
      width: 9.3%;
      transform-origin: 0 50%;
      transform: rotate(45deg);
    }
  }

  .arrows1 {
    position: absolute;
    top: 46%;
    left: 63%;
    height: 34%;

    svg {
      position: absolute;
      width: 100px;
      height: 10px;
    }
  }

  .arrows2 {
    position: absolute;
    top: 41%;
    left: 38%;
    width: 30%;
    height: 34%;

    svg {
      position: absolute;
    }
  }

  .arrows3 {
    position: absolute;
    top: 37%;
    left: 48%;
    width: 30%;
    height: 34%;

    svg {
      position: absolute;
    }
  }

  .arrows4 {
    position: absolute;
    top: 48%;
    left: 48%;
    width: 30%;
    height: 34%;

    svg {
      position: absolute;
    }
  }

  .arrows5 {
    position: absolute;
    top: 18%;
    left: 50%;
    width: 30%;
    height: 34%;

    svg {
      position: absolute;
    }
  }
}
