@import '../libs/common.scss';

.page2 {
  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 56.25%;
    background: url(./images/bg.jpg) no-repeat center;
    background-size: contain;
  }

  .blue,
  .red {
    position: absolute;
    width: 14%;
    height: 7%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    border-radius: 5px;

    @media screen and (min-width: 1680px) {
      font-size: 60px;
    }

    .num {
      display: block;
      height: 100%;
      line-height: 113%;
    }

    .line {
      position: absolute;
    }
  }

  .blue {
    top: 22%;
    right: 20%;
    background-color: #2f75fb;
    border: 5px solid #4876cb;

    .line {
      position: absolute;
      top: 70%;
      left: -50%;
      width: 40%;
      height: 5px;
      background-color: #4876cb;
      transform: rotate(-45deg);

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 90%;
        left: 96%;
        width: 20%;
        height: 5px;
        background-color: #4876cb;
        transform: rotate(45deg);
      }
    }
  }

  .red {
    bottom: 3%;
    left: 37%;
    background-color: #e4574e;
    border: 5px solid #992f31;

    .line {
      position: absolute;
      top: -130%;
      left: -30%;
      width: 130%;
      height: 5px;
      background-color: #992f31;
      transform: rotate(-30deg);

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 10%;
        height: 5px;
        background-color: #992f31;
        transform: rotate(30deg);
      }
    }
  }

  .door {
    position: absolute;
    height: 5px;
    background-color: #992f31;
    transition: all linear 0.5s;

    &:nth-of-type(1) {
      top: 40%;
      left: 34%;
      width: 10%;
      transform-origin: 0 50%;
    }
  }
}
