@import './libs/common.scss';

html, body {
  height: 100%;
  overflow: hidden;
}

.title {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 0;
  width: 290;
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  color: #fff;
  font-size: 20px;
  background-color: #293852;

  &:after {
    content: '';
    right: -40px;
    position: absolute;
    display: inline-block;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #293852;
    border-left: 20px solid #293852;
  }

  @media screen and (min-width: 1680px) {
    width: 470px;
    height: 64px;
    line-height: 64px;
    font-size: 32px;
    padding-left: 40px;

    &:after {
      right: -64px;
      border-top: 32px solid transparent;
      border-right: 32px solid transparent;
      border-bottom: 32px solid #293852;
      border-left: 32px solid #293852;
    }
  }
}

.box {
  position: relative;
  height: 100%;
  white-space: nowrap;
  transition: all linear 0.5s;
}

$arrowWidth: 3%;

.back,
.forward {
  position: fixed;
  top: 50%;
  z-index: 1001;
  width: $arrowWidth;
  padding-bottom: $arrowWidth * 3.55;
  transform: translateY(-50%);
  background-color: #f00;
}

.back {
  left: 0;
  background: url(./images/back.png) no-repeat;
  background-size: contain;
}

.forward {
  right: 0;
  background: url(./images/forward.png) no-repeat;
  background-size: contain;
}

.page1,
.page2,
.page3,
.page4 {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.page3 {
  background-color: #0f0;
}

.page4 {
  background-color: #00f;
}
